body	{background-color:#CE944D;color:#F5D0A5; font-family: Georgia;text-align:center}
ul	{background-color: #F5D0A5;}
h6	{background-color:#F5D0A5; color: red; }
a	{background-color:#F5D0A5;font-family: verdana;}
.me	{background-color:#154360; color:#FFFFFF; text-align: 
center;font-family:verdana}
img	{border-radius: 50%; max-width: 30%; max-height: 10%}
footer	{background-color:#154360; color:#FFFFFF}
